<!DOCTYPE html>
<html>
<head>

	<!-- Tittle -->
	<title><%=title%></title>

	<!-- Charset -->
	<meta charset="utf-8">

	<!-- Iсоn -->
	<link rel="shortcut icon" href="https://olegdanilov.me/public/images/avatar_rounded.png" type="image/x-icon">

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- JS scripts -->
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="../public/libs/jquery.min.js"></script>
	<script src="../public/views.js" defer></script>
	<script src="../public/libs/materialize.min.js" defer></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script>$(".content").hide();</script>

	<!-- CSS styles -->
	<link rel="stylesheet" href="../public/libs/materialize.min.css" />
	<link rel="stylesheet" href="../public/style.css">

	<!-- meta tags -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#e9e9e9">
	<meta name = "viewport" content = "width = 320, initial-scale = 1, user-scalable = no">

	<!-- SEО data -->
	<meta name="robots" content="index,follow" />
	<meta property="og:site_name" content="Блог Олега Данилова" />
	<meta name="description" content="<%=desc%>">
	<meta property="og:title" content="<%=title%>">
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="<%=title%>">
	<meta property="og:image" content="<%=img%>"/>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118766006-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-118766006-1');
	</script>

</head>
<body>
	<div id="preloader-main">
		<!-- Main page preloader -->
		<center><br><br><br><text class="loading_lable">Loading...</text></center>
		<!-- Main page preloader END -->
	</div>

	<nav>
		<div class="nav-wrapper">
			<div class="col s12">
				<a href="/" class="breadcrumb" style="padding-left: 8px;">Main</a>
				<a href="#!" class="breadcrumb"><%=title%></a>
			</div>
		</div>
	</nav>

	<script>$("nav").hide();</script>

	<div class="content container news_main" style="margin-bottom: 0; padding-left: 0%; padding-right: 0%;    padding-top: 0;">
		<div id="news">
			<div class="news" style=" padding-left: 5%; padding-right: 5%;">
				<div class="title"></div>
				<div class="text">			
				</div><br><br><br>
				<div class="row">
					<div class="views">Views </div>
					<div class="time">Published </div>
					<div class="time_edited">Last edit was </div>
				</div>
				<div class="rate">
					<img src="https://image.flaticon.com/icons/svg/126/126473.svg" alt="like" class="like_img"><div class="like"></div>
					<img src="https://image.flaticon.com/icons/svg/126/126504.svg" alt="dislike" class="dislike_img"><div class="dislike"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container content add_coment" style="margin-bottom: 0%;">
		<div class="commentForm"><p go_to="commentForm"></p>
			<div class="row">
				<div class="input-field col s6 name_input">
					<input value="" id="name" type="text" class="validate" maxlength="32"  data-length="32">
					<label class="active" for="first_name2">Your name or nickname</label>
				</div>
			</div>
			<div class="row a2">
				<div class="input-field col s12">
					<input value="" id="comment_text" type="text" class="validate" maxlength="200" data-length="200"></input>
					<label class="active" for="comment_text">Text</label>
				</div>
			</div>
			<script>
				function publish_comment(captcha) {
					var captcha_res = captcha;
					$(".publich_comment").click(function() {
						publish_comment(captcha_res);
					});
					if ($("#name").val() == "") {
						var name = "Anonymous";
					} else {
						var name = $("#name").val();
					}
					if ($.trim($("#comment_text").val()).length < 3 || $.trim($("#comment_text").val()).length > 200) {
						Materialize.toast("Incorrect lenght", 5000);
					} else {
						$.ajax({
							url: location.href + "/addComment/" + name + "/" + $("#comment_text").val() + "/" + captcha,
							success: function(data) { 
								if (data.success) {
									Materialize.toast("Your comment successfully published!", 5000);
								} else {
									Materialize.toast(data.error.description, 5000);
								}
							}
						});
					}
				}
			</script>
			<button class="btn waves-effect btn-small publich_comment g-recaptcha" data-sitekey="6LcAyVgUAAAAAESj9TmuoNqgQ4lvFR2MZXmXnope" data-callback="publish_comment">Publish comment</button><br>
			<br><b>Note!</b> Your comment will be public avaliable! If you want, keep name empty.
		</div>
	</div><p go_to="commentList"></p>
	<div class="container coments content"></div>
</body>
</html>
